<div class="container">



  <div class="row">
    <div class="col-md-9">Dodatkowo trzeba zadbać o dodanie prefixów sm, md, lg, oraz xl tak aby strona wyświetlała
      się odpowiednio na każdym ekranie.
      Klasy można łączyć - col-md-9 col-sm-12

      W kontenerze głównym proszę dodać dowolny tekst.
    </div>
    <div class="col-sm-3">
      <h3>Szybki kontakt</h3>

      <i class="fa fa-facebook-official" aria-hidden="true"></i><br>
      <i class="fa fa-instagram" aria-hidden="true"></i><br>
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </div>
  </div>

  <footer class="center">Copyrights © Adrian Węgrzyn | 2019</footer>
</div>
<div class="scroll">
  <!--<button class="btn btn-success" onclick="goToTop()">-->
    <!--<i class="fa fa-arrow-circle-up" aria-hidden="true"></i>Do góry-->
  <!--</button>-->
</div>
